


#game-container {
    position: absolute;
    top: 0;
    left: 0;
	/* margin-top: 1vw; */
    /* margin-left: 1vw; */
    width: 100vw;
    height: 100vw;
    max-width: 500px;
    max-height: 600px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

#tetris {
    width: 50vw;
    height: 100vw;
    max-width: 300px;
    max-height: 600px;
    margin-top: 1vw;
    margin-left: 1vw;
}

#next-piece-container {
    position: absolute;
    top: 1vh;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: right;
    /* margin-right: 10px; */
  }

#score {
    color: black;
    position: absolute;
    right: 0%;
    top: 10vh;
    font-size: larger;
    font-weight: bold;
  }

  #level {
    color: black;
    position: absolute;
    right: 0%;
    top: 15vh;
    font-size: larger;
    font-weight: bold;
  }

#pause-btn {
    position: absolute;
    right: 0%;
    top: 20vh;
    /* width: 5vw; */
    font-size: larger;
    font-weight: bold;
}

  #game-over {
  position: absolute;
  top: 25vh;
    right: 0%;
  color: red;
  font-size: x-large;
  font-weight: bold;
  display: none;
}



  #next-piece-label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: larger;
    color: black;
  }

  #restart-btn {
		position: absolute;
		bottom: 0vh;
    right: 0%;
        font-size: larger;
        font-weight:bold;
		display: none;
  }

  .arrow-buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow-button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
  }
  
  .arrow-button:active {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .up-button {
    border-radius: 5px 5px 0px 0px;
  }
  
  .left-button {
    border-radius: 5px 0px 0px 5px;
  }
  
  .down-button {
    border-radius: 0px 5px 5px 0px;
  }
  
  .right-button {
    border-radius: 0px 5px 5px 0px;
  }
  
  .control {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#spacebar {
  width: calc(100% - 10px);
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #222;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#spacebar:active {
    background-color: #555;
    color: #fff;
    border: 2px solid #fff;
}

@media screen and (min-width: 768px) {
  #spacebar {
    width: 200px;
    margin-top: 0;
  }
}

  

